*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  touch-action: auto;
  /* overscroll-behavior: contain; */
}

html,
body {
  overflow: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overscroll-behavior: none; */
}

.divider{
  display: block;
  /* grid-template-rows: min-content 1fr; */
  height: 100%;
}

#mainPage{
  height: fit-content;
  margin: 0;
  padding: 0;
  background-color: #000000;
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: 1fr;

  
  /* background-image: radial-gradient(
    farthest-corner at 50% 100%,
    #e48349 -300%,
    #000 80%
  ); */
  background: linear-gradient(0deg,black, #1a1a1b, #a86842 , #1a1a1b);

}
.textureBG{
  background-image: radial-gradient(
    farthest-corner at 50% 100%,
    #e48349 -150%,
    #000 80%
  );
}
#centerPanel{
  /* all: revert; */
  /* overflow: hidden; */
  /* height: 100%; */
  margin: 0;
  padding: 0;
  background-color: #151516;
  /* grid-column: 2/3; */
  display: block;
  

  border: none;
}

.controlPanel{
  margin: 2% 10% 0% 10%;
  padding: 2%;
  background-color: #1a1a1b;
  display: grid;
  grid-template-rows: auto 80px;
  
}

.videoPanel{
  /* grid-column: 1/-1; */
  background-color: #000000;
  display: grid;
}

@media (orientation: portrait) {
  #mainPage {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .centerPanel{
    grid-column: 1/2;
  }
  h1{
    display: none;
  }
  .show{
    display: block ruby;
  }
  #logotextsvg{
    display: none;
  }
}

#stream {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 60vh;
  margin: auto;
}

#controls {
  display: grid;
  /* grid-template-rows: 1fr; */
  /* grid-template-columns: minmax(1fr, mincontent) min-content; */
  padding: 5px;
  /* margin: auto; */
}

#joyDiv {
  
  border-radius: 25%;
  background-color: #e0e0e0;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  height: 100%;
}

.toggle-button {
  background-color: #e8e8e8;
  /* border: none; */
  padding: 5px;
  margin: 0px 2% 0px 2%;
  height: 100%;
  width: 40%;
  font-size: 1.5vmin;
  cursor: pointer;
}

.toggle-button.active {
  background-color: #555555;
  border-color: white;
  color: #ffffff;
}

#lightBtn{
  height: 100%;
  color: black;
}

#navBar {
  /* position: fixed; */
  /* top: 0; */
  /* width: 100%; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: none;
  background-color: #1a1a1b;
  border-bottom: none;
  
  display: grid;
  grid-template-columns:  1fr repeat(5, auto) 1fr;
  align-items: center;
}



li a {
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

h1{
  /* position:; */
  top: 0;
  left: 50%;
  text-align: center;
  color: white;
  transform: translate(-50%,0);
  /* width: 100%; */
}

.buttons{
 display: grid;
 grid-row: auto;
 grid-template-columns: 2fr 1fr 1fr 1fr; 
 background-color: #000;
 /* border-radius: 5px; */
 margin: 10px 0 0px 0;
 padding: 5px;
}

.UI{
  color: white;
  /* background: #555555; */
  margin: 0px 5px 0px 5px;
  border: 1px solid white  ;
  border-radius: 5px;
  font-size: 2vmin;
  padding: 3px;
}

p{
  font-size: 4vmin;
  padding: 3vmin;
}
h2{
  font-size: 4vmin;
  text-align: center;
  margin: 50px 0 0 0;
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300; 
}
.highlight{
  color: #e48349;
}
button{
  color: black;
}
#youtubeVid{
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 50px auto;
  display: block;
  /* margin: auto; */
}
#about{
  display: grid;
  margin: 10% auto;
  background-color: #00000080;
  border: #e0e0e080 solid 1px;
  /* opacity: .5; */
  height: fit-content;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 14vmin auto 1fr 14vmin;
  
}
#about h2{
  /* color: #ffffff;
  opacity: 1; */
  text-align: center;
  padding: 10px 10px;
  margin: auto;
  font-size: 7vmin;
}
#about ol{
  margin: 0 0 0 7vmin;
  list-style: disc;
}
#about ol li{
  font-size: 4vmin;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300; 
  /* list-style: disc; */
}
#about img{
  margin: auto 0 auto 0;
  width: 90%;
  height: auto;
  grid-row: 3/5;
  grid-column: 2/3;
}
footer.footer .footer-block--newsletter ul.footer__list-social {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
footer.footer .footer-block--newsletter ul.footer__list-social li.list-social__item {
  list-style: none !important;
}
#socials svg {
  width: 40px;
  height: 40px;
}

.footer__list-social{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background: none;
  border: none;
  flex-wrap: wrap;
}
#socials{
  margin: 20vmin 0 2vmin 0;
}