*{
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.divider{
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
}

#mainPage{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  display: grid;
  grid-template-columns: .3fr 1fr .3fr;
  grid-template-rows: 1fr;
}
.centerPanel{
  /* overflow: hidden; */
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #151516;
  grid-column: 2/3;
  display: grid;
  /* grid-template-columns: .3fr 1fr .3fr; */
  grid-template-rows: min-content 1fr;
}

.controlPanel{
  margin: 2% 10% 3% 10%;
  padding: 2%;
  background-color: #1a1a1b;
  display: grid;
  /* grid-template-columns:; */
  
}

.videoPanel{
  /* grid-column: 1/-1; */
  background-color: #000000;
  display: grid;
}

@media (orientation: portrait) {
  #mainPage {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .centerPanel{
    grid-column: 1/2;
  }
}

#stream {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 60vh;
  margin: auto;
}

#controls {
  display: grid;
  /* grid-template-rows: 1fr; */
  /* grid-template-columns: minmax(1fr, mincontent) min-content; */
  padding: 5px;
  /* margin: auto; */
}

#joyDiv {
  
  border-radius: 25%;
  background-color: #e0e0e0;
}

.toggle-buttons {
  display: inline-block;
  justify-content: center;
  margin: 5px;
}

.toggle-button {
  background-color: #e8e8e8;
  border: none;
  padding: 5px;

  cursor: pointer;
}

.toggle-button.active {
  background-color: #555555;
  color: #ffffff;
}

ul {
  /* position: fixed; */
  /* top: 0; */
  /* width: 100%; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
  display: flex;
  align-items: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}